{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block body %}
<div class="row">
	{% for course in courses %}
	<div class="col-sm-6 col-md-4 course">
		<div class="thumbnail">
			<a href="{{ course_url }}" target="_blank">
				<img src="{{ course.url }}" alt="course">
				<div class="caption">
					<h4 class="course_name">{{ course.name }}</h4>
					<p class="course_description">{{ course.description }}</p>
				</div>
			</a>
		</div>
	</div>
    {% endfor %}
</div>

{% endblock %}


